---
import { Image } from 'astro:assets';
import Layout from '../../layouts/PostLayout.astro';
import StepFigure from '../../components/StepFigure.astro';
import usb_b_female_port from '../../assets/fixed/usb-b-female-port/usb_b_female_port.jpg';
import akai_eie_0 from '../../assets/fixed/akai-eie/akai_eie_0.jpg';
import akai_eie_1 from '../../assets/fixed/akai-eie/akai_eie_1.jpg';
import akai_eie_2 from '../../assets/fixed/akai-eie/akai_eie_2.jpg';
import akai_eie_3 from '../../assets/fixed/akai-eie/akai_eie_3.jpg';
import akai_eie_4 from '../../assets/fixed/akai-eie/akai_eie_4.jpg';
import akai_eie_5 from '../../assets/fixed/akai-eie/akai_eie_5.jpg';
import akai_eie_6 from '../../assets/fixed/akai-eie/akai_eie_6.jpg';
import akai_eie_7 from '../../assets/fixed/akai-eie/akai_eie_7.jpg';
import akai_eie_8 from '../../assets/fixed/akai-eie/akai_eie_8.jpg';
import akai_eie_9 from '../../assets/fixed/akai-eie/akai_eie_9.jpg';
import akai_eie_10 from '../../assets/fixed/akai-eie/akai_eie_10.jpg';
import akai_eie_11 from '../../assets/fixed/akai-eie/akai_eie_11.jpg';
import akai_eie_12 from '../../assets/fixed/akai-eie/akai_eie_12.jpg';
import akai_eie_13 from '../../assets/fixed/akai-eie/akai_eie_13.jpg';
import akai_eie_14 from '../../assets/fixed/akai-eie/akai_eie_14.jpg';
import akai_eie_15 from '../../assets/fixed/akai-eie/akai_eie_15.jpg';
import akai_eie_16 from '../../assets/fixed/akai-eie/akai_eie_16.jpg';
import akai_eie_17 from '../../assets/fixed/akai-eie/akai_eie_17.jpg';
import asio_img from '../../assets/fixed/akai-eie/ASIO4ALLOptions.jpg';

const imageWidth = 800;
const imageHeight = 600;

export const frontmatter = {
    title: 'Repair USB B Female Port AKAI EIE',
    pubDate: '2025-10-07',
    lastMod: '2025-10-12',
    description: 'Repair USB B Female Port AKAI EIE',
    author: 'NS',
    image: {
        url: 'https://docs.astro.build/assets/rose.webp',
        alt: 'The Astro logo on a dark background with a pink glow.'
    },
    tags: ['repair', 'usb-b-female-port', 'akai-eie']
};
---

<Layout frontmatter={frontmatter}>
    <p>This is a repair log for repairing the USB type B female port located on the back of the interface.</p>

    <StepFigure src={akai_eie_0} alt="Front view of Akai EIE interface" title="AKAI EIE Interface" titleLevel="h2" width={imageWidth} height={imageHeight} />

    <h2 class="mb-6">Difficulty</h2>
    <p class="mb-6">Medium</p>

    <h2 class="mb-6">Components</h2>
    <ul class="mb-6">
        <li><input type="checkbox" checked disabled /> AKAI EIE</li>
        <li>
            <input type="checkbox" checked disabled />
            <a href="https://www.amazon.com/gp/product/B07F9KWHQG/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1"> USB Type B Female Port </a>
        </li>
    </ul>

    <h2 class="mb-6">Tools</h2>
    <ul class="mb-6">
        <li><input type="checkbox" checked disabled /> Phillips #2 Screwdriver</li>
        <li><input type="checkbox" checked disabled /> 6T Star Bit</li>
        <li><input type="checkbox" checked disabled /> Soldering Iron</li>
        <li><input type="checkbox" checked disabled /> Desoldering Pump</li>
        <li><input type="checkbox" checked disabled /> Needle Nose Pliers</li>
    </ul>

    <div class="mb-6">
        <h2 class="mb-6">Motivation</h2>
        <p class="mb-6">
            I normally would not try something for the first time on a necessary and somewhat costly piece of equipment. I've also had it for probably 10 years
            so there's some sentimental value. But the port crapped out and I need the audio interface for practice. And if that weren't enough reasons I really
            don't wanna buy a new one.
        </p>
        <h2 class="mb-6">Log</h2>

        <StepFigure
            src={akai_eie_2}
            alt="Screws removed from the outer case of the Akai EIE interface"
            title="Remove the outer case screws"
            titleLevel="h3"
            stepNumber={1}
            width={imageWidth}
            height={imageHeight}
        >
            <p>
                There are eight screws for the case, but only the top four need to be removed. (I figured that out after) I used a 6T star bit to remove the
                screws.
            </p>
        </StepFigure>

        <StepFigure
            src={akai_eie_3}
            alt="Overhead view without the cover"
            title="Remove the top cover"
            titleLevel="h3"
            stepNumber={2}
            width={imageWidth}
            height={imageHeight}
        >
            <ul>
                <li>Remove the top cover of the interface.</li>
                <ul>
                    <li>It should slide off easily.</li>
                </ul>
                <li>Now locate the three cable ribbons that are connected to the board.</li>
                <ul>
                    <li>Use needle nose pliers to disconnect the three ribbon cables pictured.</li>
                    <li>I alternated lifting left and right sides of the retention latch until the ribbon cable came loose.</li>
                </ul>
            </ul>
        </StepFigure>

        <StepFigure
            src={akai_eie_4}
            alt="Interface with screws removed"
            title="Remove the screws that hold the board in place"
            titleLevel="h3"
            stepNumber={3}
            width={imageWidth}
            height={imageHeight}
        >
            <p>There are six screws in the back of the case. After unscrewing them the board will be free.</p>
        </StepFigure>

        <StepFigure
            src={akai_eie_5}
            alt="Case with the top removed"
            title="Remove board from case"
            titleLevel="h3"
            stepNumber={4}
            width={imageWidth}
            height={imageHeight}
        >
            <p></p>
        </StepFigure>

        <StepFigure
            src={akai_eie_7}
            alt="Screws unscrewed"
            title="Comparison between broken and new USB port"
            titleLevel="h3"
            stepNumber={4.1}
            width={imageWidth}
            height={imageHeight}
        >
            <p>Notice the USB port attached to the board is missing the little white square that holds the connector in place.</p>
        </StepFigure>

        <StepFigure
            src={akai_eie_8}
            alt="Six solder joints that hold the USB female port on the board"
            title="Remove the six solder joints"
            titleLevel="h3"
            stepNumber={5}
            width={imageWidth}
            height={imageHeight}
        >
            <p>Remove the six solder joints that hold the USB female port on the board.</p>
            <p>They are located on the bottom directly underneath the port.</p>
            <ul>
                <ul>
                    <li>Use desoldering pump to remove the solder joints.</li>
                    <li>If the large posts give you trouble,Using your soldering iron to push them down alternating left and rightcan help get them out.</li>
                </ul>
            </ul>
        </StepFigure>

        <StepFigure
            src={akai_eie_9}
            alt="Broken USB port with replacement"
            title="Port crushed"
            titleLevel="h3"
            stepNumber={5.1}
            width={imageWidth}
            height={imageHeight}
        >
            <p>The four data prongs are visible after crushing the broken port.</p>
            <p>From here I flip the board upside down heated the prongs and pulled them out with needle nose pliers.</p>
        </StepFigure>

        <StepFigure
            src={akai_eie_10}
            alt="Close up of the solder pointsfrom the board removed"
            title="Clean board"
            titleLevel="h3"
            stepNumber={6}
            width={imageWidth}
            height={imageHeight}
        >
            <ul>
                <li>Use a desoldering pump to remove any solder that's left on the board.</li>
                <li>Alcohol can also be used to clean the surface of the board.</li>
                <ul>
                    <li>Be careful not to use anything that has any fibers to wipe the board. They can get stuck on the board.</li>
                </ul>
            </ul>
        </StepFigure>

        <StepFigure
            src={akai_eie_11}
            alt="Replacement port on the board, unsoldered"
            title="Replace the port"
            titleLevel="h3"
            stepNumber={7}
            width={imageWidth}
            height={imageHeight}
        >
            <ul>
                <li>Put the replacement port on the board.</li>
            </ul>
        </StepFigure>

        <StepFigure
            src={akai_eie_12}
            alt="Replacement port on the board, unsoldered"
            title="Solder the port"
            titleLevel="h3"
            stepNumber={7}
            width={imageWidth}
            height={imageHeight}
        >
            <p>The soldering doesn't have to be pretty</p>
            <p>Just make sure the solder joints are:</p>
            <ul>
                <li>NOT TOUCHING</li>
                <li>Secure</li>
                <li>Not too large</li>
            </ul>
        </StepFigure>

        <StepFigure
            src={akai_eie_15}
            alt="Board back in the case"
            title="Put the board back into the case"
            titleLevel="h3"
            stepNumber={8}
            width={imageWidth}
            height={imageHeight}
        >
            <p>
                Put the board back into the case<p>
                    <ul>
                        <li>Screw in the six screws</li>
                        <li>Reattach the three ribbon cables</li>
                    </ul>
                </p>
            </p>
        </StepFigure>

        <StepFigure
            src={akai_eie_16}
            alt="AKAI EIE interface, cover open,wires connected"
            title="Test the interface"
            titleLevel="h3"
            stepNumber={9}
            width={imageWidth}
            height={imageHeight}
        >
            <p>Connect the power and the data cables to the interface and connect it to your computer.</p>
        </StepFigure>

        <StepFigure src={asio_img} alt="ASIO settings" title="Test EIE on computer" titleLevel="h3" stepNumber={10} fit="contain">
            <p>The interface shows up in the asio options, meaning that it's getting power and data!!</p>
        </StepFigure>

        <h3>Summary</h3>

        <p>
            In this blog post, we tore down the Akai EIE and repaired the USB type B female port. We ran into some issues getting the old port off but
            successfully replaced it with a new one.
        </p>

        <p>I hope following this has been helpful or entertaining 🙂</p>
    </div>
</Layout>
